@{
    ViewBag.Title = "Index";
}
<main class="container">
    <div class="mb-4">
        <h2 class="fw-bold">Корзина</h2>
        <ol type="A">
            <li>Product 0</li>
            <li>Product 1</li>
        </ol>
    </div>
</main>